.chats-body {
  padding: 0;
}
.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat-screen {
  background: linear-gradient(rgba(241, 242, 246, 0.2), rgb(241, 242, 246) 75%),
    url("../images/chat.png");
  min-height: 100vh;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  display: flex;
  background-color: #fcfcfc;
  padding: 0px 20px;
  border-radius: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  justify-content: space-between;
  align-items: center;
}

.chat__write i {
  font-size: 20px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-colum input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(231, 222, 222, 0.3) 0px 8px 16px -8px,
    rgba(255, 255, 255, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: center;
  width: 50%;
}
.message .message__content {
  width: 80%;
}

.incoming-message img {
  width: 40px;
  border-radius: 25px;
  margin-right: 20px;
}

.incoming-message {
  align-self: flex-start;
}
.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  box-shadow: rgba(231, 222, 222, 0.3) 0px 8px 16px -8px,
    rgba(255, 255, 255, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: white;
}
